@import '../_styles/variables.scss';

.avatar {
  text-align: center;
}

.image {
  display: inline-block;
  width: 270px;
  height: 270px;

  @media #{$media-size-tablet} {
    width: 250px;
    height: 250px;
  }

  @media #{$media-size-phone} {
    width: 210px;
    height: 210px;
  }
}
